@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

//Primary Colors
$soft-blue: hsl(231, 69%, 60%);
$soft-re: hsl(0, 94%, 66%);

//Neutral
$grayish-blue: hsl(229, 8%, 60%);
$very-dark-blue: hsl(229, 31%, 21%);

$font-stack: "Rubik", sans-serif;
